syntax: glob
*/bin/*
*/gen/*
*/.classpath
*/.project
*/.settings/*
*/obj/*
*.class
*/out/*
*.patch
.DS_Store
out/*
.gradle/*
build/*
local.properties
**/build/*
**/.gradle/*
**/.idea/*
*/*.iml
*.iml
**/target/*
**/gen/*
*/gen-*
/.nb-gradle/
/signing.properties
/*.bat
/mobilePinActivitiesRefactor.png
/ci.properties
captures/*

# ci
scope_name.txt
cardsmobile.keystore
issues.txt
build_time.txt
